* {
    background-color: #CCC;
    text-align: center;

}
#btt {
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 90px;
}
#btt:hover {
    background-color: rgb(91, 126, 126);
}
#n1 {
    background-color: aliceblue;
    border-radius: 30px;
    cursor: pointer;
}
#n2 {
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 30px;

}